.main-section{
    background-image: url("../image/pallet_town2_blur.png");
    -webkit-backdrop-filter: grayscale(100%)
    
    /* background-size: cover; */
}
header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color:rgb(255, 50, 54);
    padding: 10px;
    border: solid black 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.title{
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card{
    border-radius: 25px;
}

.row{
    margin-bottom: 0;
}
/*  */
/* .section-1{
    display: flex;
    flex-direction: row;
}

.trainer_image{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.trainer_stats{
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */

/* footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(160, 157, 159);
    padding: 30px;
    border: solid black 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.copyright-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    font-size: 20px; 
}
